*{
    margin:  auto;
    padding: auto; 
    box-sizing: border-box; 
}

html{
    background-color: gainsboro;
}

header{
    display: flex;
    flex-direction: row;
    /* border: 1px solid; */
}

.heading{
    display: flex;
    justify-content: center;
}


.heading h1{
    margin-top: 40px;
    width: 400px;
    /* border: 1px solid; */
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 60%;
}

main img{
    display: flex;
    width: 35px;
}

input{
    width: 200px;
    margin-right: 10px;
    background-color: white;
    border: none;
    padding: 6px;
}

form{ padding: 10px 0;
    display: flex;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

button{
    padding: 6px;
    width: 30%;
    background-color: greenyellow ;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid;
}

table thead{
    width: 70%;
}

th{
    border: 1px solid black;
    padding: 8px;
    color: white;
    background-color: rgb(68, 68, 233);
    font-weight:400;
    width: 200px;
}

td{
    text-align: center;
}